@font-face {
    font-family: 'cafe';
    src: url(fontes/Louis\ George\ Cafe.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
#formulario{
    text-align: center;
    background: linear-gradient(to left, rgb(141, 190, 255) ,rgb(233, 151, 206));
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 35%;
    padding-right: 35%;
    border: transparent;
    border-radius: 10px;
    margin-top: 2%;
}
body{
    background-color: rgba(141, 190, 255, 0.411);
    font-size:20px;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
input{
    border: transparent;
    border-radius: 5px;
    margin-bottom: 5%;
    transition: all 1s;
}
input:focus,
input:hover{
    box-shadow: 0 3px 25px white;
}
h1{
    color: rgb(0, 15, 37);
}
#BotaoDeEnvio{
    background-color: linear-gradient(to left,rgb(233, 151, 206 ), rgb(141, 190, 255));
    font-size:20px;
}
.corpo{
    font-family: 'cafe', Times, serif;
}
#nomeComp{
    padding-left: 5%;
    padding-right: 5%;
}
#endereco{
    padding-left: 5%;
    padding-right: 5%;
}
#cep{
    padding-left: 5%;
    padding-right: 5%;
}
@media(max-width:600px){
    #formulario{
        text-align: center;
        background: linear-gradient(to left, rgb(141, 190, 255) ,rgb(233, 151, 206));
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 15%;
        padding-right: 15%;
        border: transparent;
        border-radius: 10px;
        margin-top: 2%;
    }
}